.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.grupoBotonesLoginAgenda {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 15px;
}
