* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

body {
    background-color: #F6F8FC;
    font-family: 'Roboto', Arial, sans-serif;
    color: #202124;
}
.pantallaCompleta{
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    overflow: hidden;
}
.barraLateral{
    background-color: #F6F8FC;
    padding: 20px 0;
}
.logo{
    padding-left: 25px;
    margin-bottom: 30px;
    color: #5F6368;
    font-size: 22px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-right: 15px;
}
.menu button{
    text-align: left;
    padding: 12px 25px;
    background-color: transparent; 
    border: none;
    border-radius: 0 20px 20px 0; 
    cursor: pointer;
    font-weight: 500;
    color: #3C4043;
    font-size: 15px;
    transition: background-color 0.2s;
}
.menu button:hover {
    background-color: #EAECEE; 
}

.menu button.activo {
    background-color: #D3E3FD; 
    color: #041E49; 
    font-weight: 700;
}

.areaPrincipal {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
    margin: 10px 10px 10px 0;
    border-radius: 24px;
    padding: 40px;
    overflow-y: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    position: relative;
    z-index: 1;
    padding-bottom: 60px; 
}
.areaPrincipal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/logo2.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    opacity: 0.03   ; 
    z-index: -1; 
    pointer-events: none; 
}

h1 {
    font-size: 35px;
    color: #202124;
    margin-bottom: 0px;
}

h2 {
    font-size: 22px;
    color: #5F6368;
    font-weight: 400;
}

p, .presentacion {
    font-size: 16px;
    color: #3C4043;
    line-height: 1.6;
}

.miFoto {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.seccion-contenido {
    display: none; 
    height: 100%;
    animation: aparecer 0.3s ease-in-out; 
}

.seccion-contenido:not(#inicio).activa {
    display: grid;
    grid-template-columns: auto 700px;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#inicio.activa {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    width: 100%;
}
.btnLoginAgenda {
    background-color: #0081C6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}
.btnLoginAgenda:hover {
    background-color: #005092;
    transform: scale(1.05);
}
.grupoBotonesLoginAgenda {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 15px;
    z-index: 10;
}


.seccion-contenido h3 {
    margin-bottom: 15px;
    color: #202124;
}
.logoPequeMenu{
    display: block;
    margin: 0 auto 0px;
    padding-left: 0;
    max-width: 80%;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.login {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #E3E3E3;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
}

.titulo-login {
    color: #202124;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.subtitulo-login {
    font-size: 14px;
    color: #5F6368;
    margin-bottom: 25px;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grupo-input label {
    font-size: 14px;
    color: #3C4043;
    font-weight: 500;
}


.grupo-input input {
    padding: 12px 15px;
    border: 1px solid #DADCE0; 
    border-radius: 8px; 
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #202124;
    transition: all 0.2s ease;
}


.grupo-input input:focus {
    outline: none;
    border-color: #0081C6; 
    box-shadow: 0 0 0 2px rgba(0, 129, 198, 0.2); 
}


.btn-ingresar {
    background-color: #005092;
    color: #FFFFFF;
    border: none;
    border-radius: 20px; 
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

.btn-ingresar:hover {
    background-color: #003a6b; 
}